@import url('https://fonts.googleapis.com/css?family=Pacifico');



@-webkit-keyframes bgani {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes bgani {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes bgani {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

body {
    padding: 0;
    margin: 0;




    background: linear-gradient(180deg, #2dc6ba, #2d30c6, #dd2e24, #d1df16);
    background-size: 800% 800%;
    
    -webkit-animation: bgani 15s ease infinite;
    -moz-animation: bgani 15s ease infinite;
    animation: bgani 15s ease infinite;





    
    /* background: linear-gradient(blue, black); */
    color: white;
    text-align: center;
    font-family: 'Pacifico', cursive;
    text-shadow: 0px 5px 5px black;
}

h1{
    padding: 15px;
    border: solid white 2px;
    box-shadow: 0px 0px 10px 5px,inset 0px 0px 5px 2px;
}

#content{
    background: radial-gradient(rgba(0,0,0,.1), rgba(0,0,0,.4));
    padding-left: 5vw;
    padding-right:5 vw; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: solid white 2px;
}

.instagram{
    color: #dc2743; 
}

.snapchat{
   color: yellow;
}

.youtube{
    color:red;
}
button{
    font-size: 20px;
    background: radial-gradient(rgba(0,0,0,.1), rgba(255,255,255,.4));
    border: none; //aqua;
    color: white;
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
    border-radius: 10px;
}

a:hover{
    text-shadow: 0px 5px 15px;
    
    transition: 0.5s;
}